{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Edit Task</title>
{% endblock title %}

{% block content %}
<div class="container mt-4">
    {% if task.user == request.user %}
        <h1 class="text-center mb-4">Edit Task</h1>
        
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-dark text-white">
                        <h5 class="card-title mb-0">Modify Task</h5>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                                <a href="{% url 'todolist' %}" class="btn btn-secondary me-md-2">Cancel</a>
                                <button type="submit" class="btn btn-success">Save Changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <h1 class="text-center mb-4">Access Denied</h1>
            <p class="text-center">You do not have permission to edit this task.</p>
            <div class= 'text-center'><a href="{% url 'todolist' %}" class="btn btn-secondary mt-4 ">Back to Todo List</a></div>
    {% endif %}
</div>
{% endblock content %}
